/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h4,
p {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* STYLES */
:root {
  --PaleBlue: hsl(225, 100%, 94%);
  --BrightBlue: hsl(245, 75%, 52%);

  --VeryPaleBlue: hsl(225, 100%, 98%);
  --DesaturatedBlue: hsl(224, 23%, 55%);
  --DarkBlue: hsl(223, 47%, 23%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  font-family: "Red Hat Display", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: repeat-x;
  background-color: var(--PaleBlue);
}

.main-container {
  background-color: white;
  width: clamp(275px, 90%, 400px);
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.main-container img {
  border-radius: 1rem 1rem 0 0;
}

.info-container {
  padding: 2.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}
h1 {
  color: var(--DarkBlue);
  font-weight: 900;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.desc {
  color: var(--DesaturatedBlue);
}

.plan-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--VeryPaleBlue);
  padding: 1.2rem;
  border-radius: 1rem;
  margin: 1.5rem 0;
}
.plan-info img {
  margin-right: 1rem;
}
.plan-info_left {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

h4 {
  font-weight: 900;
}

.plan-info_left p {
  color: var(--DesaturatedBlue);
}

.plan-info a {
  color: var(--BrightBlue);
  font-weight: 700;
  font-size: 0.8rem;
}

.proceed {
  padding: 0.7rem;
  background-color: var(--BrightBlue);
  color: white;
  font-weight: 700;
  font-size: 0.9rem;
  border: 0;
  border-radius: 0.7rem;
  box-shadow: 0px 15px 20px 0px hsla(245, 75%, 52%, 0.295);
}

.cancel {
  text-decoration: none;
  color: var(--DesaturatedBlue);
  font-weight: 900;
  font-size: 0.9rem;
  margin-top: 1.5rem;
}

/* HOVERS */
.plan-info a:hover {
  opacity: 60%;
  text-decoration: none;
}
.proceed:hover {
  opacity: 70%;
  cursor: pointer;
}
.cancel:hover {
  color: var(--DarkBlue);
}

/* MEDIA */
@media only screen and (max-width: 400px) {
  body {
    background-image: url(images/pattern-background-mobile.svg);
  }
  .info-container {
    padding: 2rem 1.5rem;
  }
}
@media only screen and (max-width: 350px) {
  .info-container {
    padding: 1.5rem 0.5rem;
  }
}
