/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* STYLING */
:root {
  --SoftBlue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);

  --mainBG: hsl(217, 54%, 11%);
  --cardBG: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

main {
  background-color: var(--mainBG);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: clamp(337.5px, 90%, 375px);
  background-color: var(--cardBG);
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 20px 60px -18px hsl(215, 54%, 7%);
}

.main-image {
  width: 100%;
  position: relative;
}

.main-image * {
  border-radius: 10px;
  transition-duration: 200ms;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--Cyan);
  opacity: 0;
}

.main-image svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

h1 {
  font-size: 24px;
  margin: 20px 0 10px 0;
  color: var(--White);
  font-weight: 600;
  transition-duration: 200ms;
}

.desc {
  font-size: 18px;
  font-weight: 300;
  color: var(--SoftBlue);
  opacity: 70%;
  margin-bottom: 20px;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.info svg {
  vertical-align: sub;
  margin-right: 3px;
}

.ETH {
  color: var(--Cyan);
  font-weight: 400;
}

.days {
  color: var(--SoftBlue);
  opacity: 80%;
}

hr {
  border: 0;
  height: 1px;
  background-color: var(--line);
}

.creation_of {
  height: 50px;
  display: flex;
  align-items: center;
}

.creation_of img {
  max-height: 75%;
  display: inline-block;
  margin-right: 15px;
  border: 1px solid white;
  border-radius: 50%;
}

.creation_of p {
  display: inline-block;
  color: var(--SoftBlue);
  opacity: 80%;
}

.name {
  color: var(--White);
  transition-duration: 200ms;
}

/* ACTIVE STATES */
.main-image:hover .overlay {
  opacity: 50%;
  cursor: pointer;
}
.main-image:hover svg {
  opacity: 100%;
  cursor: pointer;
}

h1:hover {
  color: var(--Cyan);
  cursor: pointer;
}

.name:hover {
  color: var(--Cyan);
  cursor: pointer;
}
